:root {
  --dark-bg-color: #0d1c1d;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

body {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1 {
  font-weight: 800;
}
h2 {
  font-weight: 700;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a:link {
  font-family: 'Fira Mono', monospace;
  color: blue;
  border-bottom: 1px dotted blue;
  text-decoration: none;
  background: linear-gradient(353deg, #c2a69259, transparent);
  padding: 2px;
  border-radius: 3px;
}

.prose a:visited {
  color: purple;
  border-color: purple;
}

.prose a:hover {
  color: green;
  border-color: green;
}

.prose a:active,
.prose a:active {
  color: purple;
  border-color: purple;
}

.prose a:visited:active {
  color: blue;
  border-color: blue;
}

.nav-line .nav-link {
  color: #69778c;
}

html.dark {
  background-color: var(--dark-bg-color);
}

.dark .dark\:prose-dark,
.dark .dark\:prose-dark strong,
.dark .dark\:prose-dark h1 {
  color: #f1fff2;
}

.dark .dark\:prose-dark a {
  color: #c8ff70;
  border-style: solid;
  border-color: #becdb961;
  background: linear-gradient(353deg, #7e6b5e59, transparent);
}

.dark .dark\:prose-dark a:visited {
  color: #bea9ff;
}

.dark .dark\:prose-dark a:visited:hover {
  color: #c8ff70;
  border-color: #becdb961;
}

.dark .dark\:prose-dark a:visited:active {
  color: #bea9ff;
}

.dark .dark\:prose-dark a:hover {
  color: #e9b4fd;
}

.dark .dark\:prose-dark a:active,
.dark .dark\:prose-dark a:focus {
  color: #bea9ff;
}

.dark .dark\:prose-dark a.post-item-title,
.prose a.post-item-title {
  background: transparent;
  border-radius: 0;
  border-style: solid;
}

.dark .dark\:prose-dark a.nav-link,
.prose a.nav-link {
  border-radius: 0;
  border-style: solid;
}

.dark .meta .tag {
  background: #becdb929;
}
